body{
    background-color: black;
}
.container{
    height: 400px;
    width: 400px;
    position: relative;
}
    .sun{
        width: 100px;
        height: 100px;
        background-color: yellow;
        border-radius: 50%;
        box-shadow: 0px 0px 30px #fff;
        position: absolute;
        top: 150px;
        left: 150px;
    }
        .globe.earth{
            background-color: aqua;
            width: 30px;
            height: 30px;
            right: 28px;
            top: 28px;
        }
        .globe.moon{
            width: 12px;
            height: 12px;
            background-color: #d6d6d6;
            right: 2px;
            top: 8px;
        }
        .globe{
            border-radius: 50%;
            position: absolute;

        }
        .orbit.earth{
            position: relative;
            animation: orbit 15.5s linear infinite;
            width: 300px;
            height: 300px;
            left: 50px;
            top: 50px;

        }
        .orbit.moon{
            animation: orbit 2.7s linear infinite;
            height: 80px;
            width: 80px;
            left: -25px;
            top: -25px;
        }
        .orbit{
            position: relative;
            border: solid;
            border-color: #fff transparent transparent transparent;
            border-radius: 50%;
            border-width: 1px 1px 0px 0px;
            box-sizing: border-box;
            transform: rotate(0deg);
            transform-origin: center ;
        }
    @keyframes orbit{
        to {
            transform: rotate(360deg);
        }
    }