.accordion{
    width: 80%;
    height: 250px;
    overflow: hidden;
    margin: 50px auto;
}
ul{
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}
li{
    --img-1: url('https://unsplash.it/650/250?image=680');
    --img-2: url('https://unsplash.it/650/250?image=668');
    --img-3: url('https://unsplash.it/650/250?image=659');

    &:nth-child(1){
        background-image: var(--img-1);
    }
    &:nth-child(2){
        background-image: var(--img-2);
    }
    &:nth-child(3){
        background-image: var(--img-3);
    }
    width: 30%;
}