.accordion{
    width: 80%;
    height: 250px;
    overflow: hidden;
    margin: 50px auto;
}
ul{
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}
li{
    --img-1: url('https://unsplash.it/650/250?image=680');
    --img-2: url('https://unsplash.it/650/250?image=668');
    --img-3: url('https://unsplash.it/650/250?image=659');
}