@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Monserrat&familly=Oswald');

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f3f8;
    margin: 0;
}
.card{
    width: 300px;
    height: auto;
    min-height: 390px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    z-index: 10;
    margin: 25px;
    transition: all .2;
}