@import url('https://fonts.googleapis.com/css2?family=Roboto');

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff8cd;
}
.container{
    display: flex;
    width: 80vw;
    font-family: 'Roboto', sans-serif;
    gap: 10px;
}
.panel{
    flex: 0.5;
    height: 50vh;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all .7s cubic-bezier(.47, 1.64, .41, .8);
}
h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    margin: 0;
    opacity: 0;
}
.panel.active