@import url('https://fonts.googleapis.com/css2?family=Roboto');

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff8cd;
}
.container{
    display: flex;
    width: 80vw;
    
}