@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body{
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}