@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

h3{
    color: #a6a6a6;
    font-size: 0.7em;
    letter-spacing: 1.2px;
}
img{
    max-width: 100%;
    filter: drop-shadow(1px 1px 3px #a6a6a6);
}
.product{
    background-color: #fff;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: auto;
    padding: 2.5em;
    min-height: 600px;
    border-radius: 5px;
    font-family: "Ralelway", sans-serif;
}
