@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@900&display=swap');

body{
    height: 100vh;
    background: linear-gradient(to right, #c471ed, #12c2e9, #c471ed, #f64f59);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    position: relative;
}
.circle{
    position: relative;
    height: 150px;
    width: 150px;
    background: black;
    border-radius: 50%;
}
.circle1{
    background-color: #12c2e9;
    right: -60px;
    top: 060px;
}
.circle2{
    background-color: #f64f59;
    bottom: -60px;
    left: -60px;
}
.form{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #ffffff1a;
    border-top: 1px solid #ffffff80;
}