@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&amp;display=swap');

body{
    width: 100%;
    color: #fff;
    font: 100 100%/1.6 "Heebo", san-serif;
    overflow-x: hidden;
}
.scene{
    position: relative;
    height: 100vh;
    background: #362100 url('https://codetheworld.io/wp');
}