@import url('https://fonts.googleapis.com/css?family=Raleway');

:root{
    --glow-color: hwb(186 38% 0%);
}

.glowing-btn{
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45rem;
    background: none;
    perspective: 2em;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1em;
    box-shadow: inset 0px 0 0.5em 0 var(--glow-color), 0 0 0.5em 0 var(--glow-color);
    animation: border-flicker 2s linear infinite;
}
.glow-txt{
    float: left;
    margin-right: -0.8em;
    text-shadow: 0 0 0.125em #ffffff4d, 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}
.faulty-letter{
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}
.glowing-btn::before{
    content: '';
    position: absolute;
    background: var(--glow-color);
    tp
}