@import url('https://fonts.googleapis.com/css?family=Raleway');

:root{
    --glow-color: hwb(186 38% 0%);
}

.glowing-btn{
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45rem;
    background: none;
    perspective: 2em;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 900;
    
}