@import url('https://fonts.googleapis.com/css?family=Raleway');

:root{
    --glow-color: hwb(186 38% 0%);
}

.glowing-btn{
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
}