@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    margin: 30px 40px;
    font-family: 'Roboto Mono' sans-serif ;
}
.fa-brands{
    font-size: 4rem;
}
.counter{

}