@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');

body{
    display: flex;
    justify-content: center;
    background-color: rgb(131, 91, 170);
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 40px;
    font-family: 'Roboto Mono';
}
.fa-brands{
    font-size: 4rem;
}
.counter{
    font-size: 2.5rem;
    margin: 10px 0;
}