@import url('https://fonts.googleapis.com/css?family=Lato:300,300italic');
@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');

body{
    background-color: #131313;
}
.dashboard{
    font-family: 'Lato', sans-serif;
    color: #fff;
}
.header{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.server{
    display: flex;
    align-items: center;
    padding: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px #af11111a;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.1);
}
.fa-solid{
    font-size: 2.5rem;
    margin: 0 2rem;
}
.details{
    flex: 1;
    display: block;
    list-style: noen;
    margin: 0;
    padding: 0;
}
.details li{
    color: #7e8794;
    display: block;
    font-size: 1.2rem;
    line-height: 1.5;
}
.details li:last-child .data{
    font-weight: normal;
    color: #e6f5ff52;
}
.details .data{
    margin: -1.7rem 0 0 0;
    display: block;
    padding: 0 1rem 0 0;
    font-weight: 600;
    text-align: right;
}
.details .signal{
    color: #2eb35a;
}
.details .signal::before{
    content: '';
    background-color: currentColor;
    display: in;
}