
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap'); 
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700" );

body{
    margin: 140px 0 0 0;
}

 

.page-container {
    height: 580px;
    background-image: linear-gradient(to right, #E9E9E9 50%, #A0BA9B 50%);
    /* height: 200px; */
    display: flex;
    justify-content: center;
    /* padding: 10px; */


    .description-box{
      position: absolute;
      background-color: #ffffff33;
      padding: 2px;
      /* display: flex; */
      width: 480px;
      /* top: 10px; */
      margin: 250px 0 0 0px;
      left: 5%;
  
      
    }
    .desc{
      /* top: 20%; */
      font-size: 22px;
      font-family: 'Montaga', sans-serif;
      letter-spacing: 1px;
      line-height: 30px;
    }
  
    .shop{
      width: 170px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: #97B093;
      border: 1px solid gray;
      color: #fff;
      font-size: 22px;
      font-family: 'Montaga', sans-serif;
      letter-spacing: 1px;
      margin: 0 0 0 100px;
    }

  }
  .text {
    text-align: center;
    font-size: 160px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    letter-spacing: 5px;
    position: absolute;
    top: 10%;
    color: #474242;
    /* left: 5%; */
    
    /* transform: translate(50%, -50%); */
  }
  .model{
    /* width: 370px; */
    /* height: 530px; */
    /* position: absolute; */
    /* bottom: -30px; */
    /* left: 37%; */
    /* object-fit: fill; */
    z-index: 0;
  }
  
