.page-container{
    /* background-color: aquamarine; */
    width: 100%;
    /* height: 600px; */
    /* padding: 2px; */
    display: flex;
    justify-content: space-between;
}
.left, .right{
    background-color: #E9E9E9;
    width: 50%;
    height: 550px;
    /* padding: 5px; */
}
.right{
    background-color: #A0BA9B;
    
}
.text{
    position: relative;
    left: 10%;
    top: 30%;
}