@import url("https://fonts.cdnfonts.com/css/mogra");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700" );
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap'); 
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.list-container{
    background-color: #7d656533;
    /* width: 100%; */
    height: 800px;
    /* padding: 5px; */
}

.arrival-box{
    /* width: 100%; */
    height: 60px;
    padding: 0 40px;
    background-color: rgb(207, 42, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrival{
    /* margin: 20px 0 -10px 0; */
    font-size: 2em;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
  }
.see-all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* width: 20px; */
    height: 25px;
    padding: 2px 10px;
    border-radius: 20px;
    background-color: #ffffff33;
    border: 1px solid gray;
}
.clothes-box{
    /* width: 800px; */
    /* height: 350px; */
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
   
        .card{
            /* position: relative; */
            width: 350px;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            padding: px 0 0px 0;
            /* box-shadow: 0 2px 7px #dfdfdf; */
            font-family: 'playfair display', sans-serif;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        }
        .badge{
            /* position: absolute; */
            display: flex;
            background-color: #ff0000;
            height: 30px;
            justify-content: space-between;
            align-items: center;
            padding: 15px  14px;
            /* color: #fff; */
            /* left: 0; */
            /* top: 20px; */
            /* text-transform: uppercase; */
            /* font-size: 13px; */
            /* font-weight: 700; */
            /* padding: 3px 10px; */
        }
        .badge .no-discount{
            /* color: yellow; */
            visibility: hidden;
            /* transform: none; */
        }
        .badge .fa-heart{
            color: #A1BEAE;
        }
       
            .discount{
                color: #fff;
                background-color: #A1BEAE;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: flex;
                font-size: 14px;
                justify-content: center;
                align-items: center;
                font-family: "playfair display" , sans-serif;

            }
        
            
        .tumb{
            /* height: 350px; */
            background-color: skyblue;
            /* padding: 20px; */
            display: flex;
            justify-content: center;
            /* display: grid; */
            /* place-items: center; */
        }
        .tumb img{
            max-width: 100%;
            max-height: 100%;
        }
        .details{
            padding:  0px 15px;
            background-color: #d0c9c9e8;
            line-height: 10px;
            padding: 0 20px 10px 20px;
        }
        .modes{
            font-family: "playfair display", sans-serif;
            color: black;
        }
        /* .category{
            display: block;
            color: #ccc;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 18px;
        } */
        .brands a{
            font-weight: 500;
            color: black;
            font-weight: 600;
            /* display: block; */
            /* margin-bottom: 18px; */
            /* text-transform: uppercase; */
            text-decoration: none;
            /* transition: 0.3s; */
        }
        .brands a:hover{
            color: palegreen;
        }
        .bottom-details{
            display: flex;
            /* overflow: hidden; */
            /* background-color: orange; */
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            border-top: 1px solid #eee;
            /* padding-top: 20px; */
        }
       
        .price{
            display: flex;
            /* justify-content: center; */
            align-items: center;
            gap: 20px;
            color: black;
            font-size: 18px;
            font-weight: 600;
        }
        .price .main-price{
            /* color: red; */
            font-size: 80%;
            font-weight: 400;
            text-decoration: line-through;
            /* margin-right: 5px; */
        }
        .price .discount-price{
            color: red;
        }
      
        .price .no-discount{
            visibility: hidden;
        }
        .price .no-strike{
            font-size: 18px;
            text-decoration: none;
        }
        
        .cart a{
            background-color: #413F3F;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            text-decoration: none;
            color: #fff;
            /* margin-left: 5px; */
            /* transition: 0.3s; */
            font-size: 17px;
        }
      