@import url("https://fonts.cdnfonts.com/css/mogra");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700" );
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap'); 


.about-container{
    width: 100%;
    background-color: aquamarine;
    height: 400px;
    display: flex;
}
    .contact-box{
        display: flex;
        flex-direction: column;
    }
        .contact-box h3{
            font-family: ;
        }