@import url("https://fonts.cdnfonts.com/css/mogra");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700" );
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap'); 



.header-container{
    /* background-color: purple; */
    /* padding: 2px 30px 0 0 ; */
}
.name-box {
    display: flex; /* Enable flexbox layout */
    justify-content: space-between; /* Distribute items with space in between */
    align-items: center; /* Vertically center items */
    margin: 0 0 -15px 0;
  }
  
  .brandname {
    text-align: center; /* Center the text within its container */
    /* background-color: yellow; */
    position: relative;
    left: 50%;
    font-family: 'Mogra', sans-serif;
    font-weight: 700;
    /* transform:  translate(50%,-50%); */
  }



.search-container {
    position: relative;
    display: flex;
    /* background-color: red; */
    padding: 10px;
    right: 30px;
  }
  form{
    display: flex;
    gap: 30px;
  }
  .search-input {
    width: 80px;
    padding-left: 25px; 
    background-color: #ffffff33;
    border: none;
    border-bottom: 1px solid gray;
    
  }
  .login{
    background-color: #D9D9D9;
    padding: 5px 15px;
    border: solid gray 0.5px;
    border-radius: 50px;
  }
  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust for icon position */
    transform: translateY(-50%); /* Vertically center the icon */
    color: #999; /* Optional: adjust icon color */
  }
  .fa-shopping-cart {
    margin-top: 7px;
    color: black;
  }
  .fa-search{
    color: rgb(60, 56, 56);
  }


.gender-box {
    display: flex; /* Arrange gender options horizontally */
    /* background-color: yellow; */
    display: flex;
    text-transform: uppercase;
    /* font-weight: 600; */
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
    gap: 50px;
    padding: 0 0 0 25px;
  }
  
  .gender {
    cursor: pointer; /* Indicate interactivity */
    border-bottom: 2px solid transparent; /* Transparent border initially */
    transition: border-bottom 0.3s ease; /* Smooth transition */
  }
  
  .gender:hover {
    border-bottom-color: #000; /* Show border on hover */
  }
  
  .gender:first-child {
    border-bottom-color: #000; /* Default border for "Women" */
  }
  .types{
    /* background-color: rebeccapurple; */
    display: flex;
    gap: 60px;
    /* width: 1; */
    text-transform: uppercase;
    font-family: "Playfair Display", sans-serif;
    border-top: 1px solid #C0BCBC;
    border-bottom: 1px solid #C0BCBC;
    margin-bottom: 1px;
    font-size: 15px;
    padding: 0 0 0px 250px;
  }
  
  /* *******************************main page "2 section" **************************************************** */

  
.page-container {
    height: 580px;
    background-image: linear-gradient(to right, #E9E9E9 50%, #A1BEAE 50%);
    /* height: 200px; */
    display: flex;
    justify-content: center;
    /* padding: 10px; */


    .description-box{
      position: absolute;
      /* background-color: #ffffff33; */
      padding: 2px;
      /* display: flex; */
      width: 480px;
      /* top: 10px; */
      margin: 270px 0 0 0px;
      left: 5%;
  
      
    }
    .desc{
      /* top: 20%; */
      font-size: 22px;
      font-family: 'Montaga', sans-serif;
      letter-spacing: 1px;
      line-height: 30px;
    }
  
    .shop{
      width: 170px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: #A1BEAE;
      border: 1px solid gray;
      color: #fff;
      font-size: 22px;
      font-family: 'Montaga', sans-serif;
      letter-spacing: 1px;
      margin: 35px 0 0 130px;
      box-shadow: 5px 5px 15px #474242;
    }

  }
  .text {
    text-align: center;
    font-size: 160px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    letter-spacing: 5px;
    position: absolute;
    top: 10%;
    color: #474242;
  }
  .model{
    /* width: 370px; */
    /* height: 530px; */
    /* position: absolute; */
    /* bottom: -30px; */
    /* left: 37%; */
    /* object-fit: fill; */
    z-index: 0;
  }


  /* ********************** collaboration "3 section" *************************************** */
  .collab-box{
    /* width: 100%; */
    background-color: #1C1C1C;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;

}
.logo{
    width: 100px;
    /* height: 50px; */
    object-fit: cover;
}


 /* ********************** image slider "4 section" *************************************** */

 .container-slider{
    /* width:100vw; */
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #E9E9E9;
    /* padding: 5px; */
    flex-direction: column;
  }
  
  h1{
    margin: 20px 0 -10px 0;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
  }
  h4{
    font-family: "montaga", serif;
    font-weight: lighter;
  }
  .slider {
    height: 520px;
    width:100vw;
    display: flex;
    perspective: 1000px;
    position: relative;
    align-items:center;
    background-color: #E9E9E9;
    /* padding: 10px 0 0 0 ; */
    /* gap: 50px; */
  }
  .box1{  
    background-image: url(../image/a22692ef806d0c78a1eca6c0754d6133.jpg);
        /* background:url('https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-size:cover;
    background-position:center center;}
  .box2{
    background-image: url(../image/bl.jpg);
  /* background:url('https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-size:cover;
    background-position:center center;}
  .box3{
    background-image: url(../image/james-feaver-t9h7Ki99HoY-unsplash.jpg);
  /* background:url('https://images.pexels.com/photos/2356059/pexels-photo-2356059.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-size:cover;
    background-position:center center;}
  .box4{
    background-image: url(../image/green.jpg);
  /* background:url('https://images.pexels.com/photos/3274903/pexels-photo-3274903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-size:cover;
    background-position:center center;}
  .box5{
    background-image: url(../image/4a05650e6d84d3aa0e436de9238721db.jpg);
  /* background:url('https://images.pexels.com/photos/3618162/pexels-photo-3618162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-size:cover;
    background-position:center center;}
  .box6{
    background-image: url(../image/aiony-haust-IXYxqP4zejo-unsplash.jpg);
    background-size:cover;
    background-position:center center;}
  .box7{
    background-image: url(../image/a5242b0a85ad2808c1b21c19dc8303e3.jpg);
    background-size:cover;
    background-position:center center;}
  .slider [class*="box"] {
  /*   float: left; */
    overflow: hidden;
    /* border-radius:50px; */
    width: 370px;
    height: 500px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
    position:absolute;
    /* gap: 50px; */
  }
  .slider [class*="box"]:nth-child(7),
  .slider [class*="box"]:nth-child(1) {
    /* width: 360px;
    height: 500px; */
    transform: scale(0.4) translate(-50%,-50%);
    top: 35%;
    z-index:1;
  }
  .slider [class*="box"]:nth-child(2),
  .slider [class*="box"]:nth-child(6) {
    /* width: 360px;
    height: 500px; */
    transform: scale(0.6) translate(-50%,-50%);
    top: 39%;
    /* left: 50%; */
    z-index:2;
  }
  .slider [class*="box"]:nth-child(3),
  .slider [class*="box"]:nth-child(5) {
    /* width: 360px;
    height: 500px; */
    transform: scale(0.8) translate(-50%,-50%);
    top: 45%;
    /* left: 50%; */
    z-index:3;
  }
  .slider [class*="box"]:nth-child(4) {
    /* width: 360px;
    height: 500px; */
    border-color: #c92026;
    color: #fff;
    transform: scale(1) translate(-50%,-50%);
    top: 50%;
    z-index:4;
  }
  .slider [class*="box"]:nth-child(1){
    left:0%;}
  .slider [class*="box"]:nth-child(2){
    left: 50px;}
  .slider [class*="box"]:nth-child(3){
    left:370px;}
  .slider [class*="box"]:nth-child(4){
    left:50%;}
  .slider [class*="box"]:nth-child(5){
  left:71%;}
  .slider [class*="box"]:nth-child(6){
  left:87%;}
  .slider [class*="box"]:nth-child(7){
  left:85%;}
  .slider .firstSlide {
    -webkit-animation:  firstChild 1s;
    animation:  firstChild 1s;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #E9E9E9;
    padding: 5px;
    gap: 20px;
  
  }
  
  .fa-arrow-left,
  .fa-arrow-right {
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    background-color: #fffffff3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1px black;
  
  }
  .fa-arrow-left{
    color: gray;
    border: 1px solid gray;
  }