@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


.content{
    width: 900px;
    font-family: "Comfortaa";
    display: flex;
    flex-wrap: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(180deg,
            rgba(255,255,255,0.28) 0%,
            rgba(255,255,255,0) 100%);
    bac
}