@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body{
    font-family: 'Exo';
    margin: 0;
}
.context{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
}
h1{
    color: #fff;
    text-align: center;
    ma
}