@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.clock{
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.clock div{
    position: relative;
    margin: 0 10px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}