@import url("https://fonts.googleapis.com/css?family=Chivo:700");

body{
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background-color: #333;
    font-size: 1.2em;
}
.container{
    position: relative;
    animation: float 3s infinite alternate;
}

@keyframes float {
    from{
        transform: translateY(0.5em);
    }
    to{
        transform: translateY(-0.5em);
    }
}

.chat-bubble{
    position: absolute;
    width: 100%;
    color: #fff;
    left: 50%;
    bottom: 100%;
    text-align: center;
    transform: translateX(-50%);
    margin-bottom: 5em;
    font-family: 'Chivo';
}
input{
    background-color: gray;
    font-size: 1em;
    font-family: 'Chivo';
    padding: 1em;
    border: none;
    border-radius: 0.2em;
    outline: none;
    transition: background 0.3s;
}
input::placeholder{
    color: #00000080;
}
.ghost{
    background-color: #fff;
    color: #fff;
}
.ghost * {
    transition: all 0.3s;
}
.ghost>*{
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
}
.torso{
    width: 5em;
    height: 7em;
    background: inherit;
    border-radius: 100px;
    box-shadow: 0 0 12px #424242;
    transform: translate(-50%, 50px);
    transition: all 0.3s background 0.4s 0.1s;
    z-index: -1;
}
.face{
    margin-bottom: 1em;
    background: none;
}
.face .eyes-l,
.face .eyes-r{
    width: 0.8em;
    height: 0.8em;
    background: #333;
    border-radius: 100%;
    position: absolute;
    bottom: 0.4em;
}
.face .eyes-l{
    right: 1em;
}
.face .eyes-r{
    left: 1em;
}
.face .mouth{
    width: 0.5em;
    height: 0.3em;
    border-radius: 50px;
    border: 0.2em solid #333;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.face .mouth--open{
    border-top: 0.2em solid #333;
    height: 0.2em;
}
.hands{
    color: inherit;
}
.hand-r,
.hands-l{
    width: 1em;
    height: 1.5em;
    bac
}