:root{
    --x: 220;
    --y: 235;
    --xp: 0.03;
    --yp: 0.71;
    --hue: calc(0 +(var(--xp) * 500));
    --bg: #1a1a1a;
    --size: 100px;
    --glow: radial-gradient(50% 50% at center, hsl(var()))
}