*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui;
    background-color: #f0f2f5;
    color: #1c1e21;
}
main{
    height: 90vh;
    width: 100vh;
    position: relative;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    
}