@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.navigation{
    position: relative;
    width: 450px;
    height: 80px;
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
}
ul{
    position: relative;
    display: flex;
    
}