@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.wrapper{
    width: 750px;
    padding: 25px;
    border-radius: 10px;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px ;
}