@import url('https://fonts.googleapis.com/css?family=Sacramento');

body{
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background-color: #222;
    background-image: repeating-linear-gradient(to bottom, transparent 7px,
                     rgba(0, 0, 0, 0.8) 9px,
                     rgba(0, 0, 0, 0.8) 13px, transparent 13px );
}
h1{
    color: #fff6a9;
    font-size: 5em;
    text-shadow: 0 0 5px #ffa500,
                0 0 15px #ffa500,
                0 0 20px #ffa500,
                0 0 40px #ffa500,
                0 0 60px #ff0000,
                0 0 10px #ff8d00,
                0 0 98px #ff0000;
    
}