@import url('https://fonts.googleapis.com/css?family=Poppins:50');

.box{
    position: absolute;
    width: 500px;
    height: 80px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 5px 50px #00000080;
    font-family: 'Poppins', sans-serif;
}
.spinner{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    user-select: none;
}
.btn{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #444;
    color: #fff;
    text-align: center;
    line-height: 50%;
    border-radius: 50%;
    te
}