@import url('https://fonts.googleapis.com/css?family=Poppins:50');

.box{
    position: absolute;
    width: 500px;
    height: 80px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: ;
}