@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap');

body{
    height: 100vh;
    margin: 0;
    background: linear-gradient(0deg, #aea4e3 0%, #d3ffe8);
}